<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SIGNAL R</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container"> 
  <div>
    <button mat-raised-button color="primary" (click)="startConnection()">1-Start connection</button> &nbsp;&nbsp;
    <button mat-raised-button (click)="createChartListener()">2-Create chart listener</button>&nbsp;&nbsp;
    <button mat-raised-button (click)="subscribe()">3-Subscribe to process</button>&nbsp;&nbsp;
    <button mat-raised-button (click)="startHttpRequest()">4-startHttpRequest</button>&nbsp;&nbsp;
  </div> 
  <div style="display: block" *ngIf='signalRService.data'>
    <canvas baseChart [datasets]="signalRService.data" [labels]="chartLabels" [options]="chartOptions"
      [legend]="chartLegend" [chartType]="chartType" [colors]="colors" (chartClick)="chartClicked($event)"></canvas>
  </div> 
  <div *ngFor="let msg of logs">
    {{msg}}
  </div>
</div>